[submodule "osm"]
	path = osm
	url = /home/crindt/Desktop/osm
[submodule "src/js/openlayers"]
	path = src/js/openlayers
	url = /home/crindt/openlayers
[submodule "src/js/dojo-src/dojo"]
	path = src/js/dojo-src/dojo
	url = /home/crindt/dojo-src/dojo
[submodule "src/js/dojo-src/dojox"]
	path = src/js/dojo-src/dojox
	url = /home/crindt/dojo-src/dojox
[submodule "src/js/dojo-src/dijit"]
	path = src/js/dojo-src/dijit
	url = /home/crindt/dojo-src/dijit
[submodule "doc/reports/hutchins"]
	path = doc/reports/hutchins
	url = /home/crindt/hutchins
[submodule "src/js/jquery"]
	path = src/js/jquery
	url = http://github.com/jquery/jquery.git
[submodule "src/js/jquery-ui"]
	path = src/js/jquery-ui
	url = http://github.com/jquery/jquery-ui.git
[submodule "src/js/polymaps"]
	path = src/js/polymaps
	url = https://github.com/simplegeo/polymaps.git
[submodule "src/js/DataTables"]
	path = src/js/DataTables
	url = https://github.com/DataTables/DataTables.git
[submodule "src/js/jquery-format"]
	path = src/js/jquery-format
	url = https://github.com/asual/jquery-format.git
[submodule "src/js/protovis"]
	path = src/js/protovis
	url = https://github.com/mbostock/protovis.git
[submodule "src/js/jquery_pagination"]
	path = src/js/jquery_pagination
	url = https://github.com/gbirke/jquery_pagination.git
[submodule "src/js/tipsy"]
	path = src/js/tipsy
	url = git://github.com/jaz303/tipsy.git
[submodule "src/js/d3"]
	path = src/js/d3
	url = https://github.com/mbostock/d3.git
[submodule "src/js/jquery-svg"]
	path = src/js/jquery-svg
	url = https://github.com/apendleton/jquery-svg.git
[submodule "src/js/jquery-dateFormat"]
	path = src/js/jquery-dateFormat
	url = https://github.com/phstc/jquery-dateFormat
[submodule "src/js/polymaps-cluster"]
	path = src/js/polymaps-cluster
	url = git@localhost:polymaps-cluster
[submodule "src/js/underscore"]
	path = src/js/underscore
	url = https://github.com/documentcloud/underscore.git
