[submodule "osm"]
	path = osm
	url = /home/crindt/Desktop/osm
[submodule "web-app/js/openlayers"]
	path = web-app/js/openlayers
	url = /home/crindt/openlayers
[submodule "web-app/js/dojo-src/dojo"]
	path = web-app/js/dojo-src/dojo
	url = /home/crindt/dojo-src/dojo
[submodule "web-app/js/dojo-src/dojox"]
	path = web-app/js/dojo-src/dojox
	url = /home/crindt/dojo-src/dojox
[submodule "web-app/js/dojo-src/dijit"]
	path = web-app/js/dojo-src/dijit
	url = /home/crindt/dojo-src/dijit
[submodule "doc/reports/hutchins"]
	path = doc/reports/hutchins
	url = /home/crindt/hutchins
[submodule "web-app/js/d3"]
	path = web-app/js/d3
	url = https://github.com/mbostock/d3.git
[submodule "web-app/js/jquery"]
	path = web-app/js/jquery
	url = http://github.com/jquery/jquery.git
[submodule "web-app/js/jquery-ui"]
	path = web-app/js/jquery-ui
	url = http://github.com/jquery/jquery-ui.git
