
body {
    background-color: #1A2C45; /*#A2C5DA;*/
    color: #fff;
    font-size: 8pt;
    padding-top: 21px;
    margin:0px;
}


#header h1 {
    margin-left: 10px;
    display: inline;
    font-size: 50px;
    vertical-align: text-bottom;
}

#header ul.menu {
    float:right;
    display:inline;
}
#header ul.menu li {
    display:inline;
    border: solid 1px white;
//    padding: 5px;
}

#content {
    background-color: #006;
    margin: 0px;
}

.loading {
    background-color: #fff;
    color: #000;
    position: absolute;
    left:40%;
    top:40%;
    width:20%;
    height:20%;
    visibility: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
}

#settings table th {
    text-align: right;
}
#settings table {
    border: 1px solid white;
}

/*
#menu {
    height: 21px;
    background-color: black;
    color: grey;
    position: relative;
    padding: 0;
}
*/

#account {
    float: right;
}

body {
    margin-top: 0px;
}


/* the following two records are used to position the nav div at the bottom of the info element */
#info {
    position:relative;
}

#incidentDetailPager {
    position:absolute;
    bottom:0;
}


#menu {
    height: 21px;
    background-color: black;
    color: grey;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0px;
    top: 0px;
    z-index: 100;
}

#account {
    float: right;
}

#menu ul {
    padding: 0 21px;
    display: inline;
}

#menu li {
    line-height: 21px;
    margin-right: 4px;
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

#menu li a {
    padding: 4px 5px;
}

#menu a, #menu a:link, #menu a:visited {
    margin-right: 8px;
    text-decoration: none;
    color: #ddd;
}

#menu a:hover {
    color: yellow;
}


#menu ul {
    padding: 0 21px;
    display: inline;
}

#menu li {
    line-height: 21px;
    margin-right: 4px;
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

#menu li a {
    padding: 4px 5px;
}

#menu a, #menu a:link, #menu a:visited {
    margin-right: 8px;
    text-decoration: none;
    color: #ddd;
}

#menu a:hover {
    color: yellow;
}


