.viewport {
    background: white;
}

.slide .frame {
    stroke: black;
    stroke-width: 1px;
    fill: white;
}

.slide .box {
    stroke: black;
    stroke-width: 1px;
    fill: rgba(0,0,255,0.33);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

.slide .title {
    stroke: black;
}

.content {
    stroke: black;
}

@font-face {
    font-family: 'Alice';
    font-style: normal;
    font-weight: normal;
    src: local('Alice'), local('Alice-Regular'), url('http://themes.googleusercontent.com/static/fonts/alice/v1/_H4kMcdhHr0B8RDaQcqpTA.woff') format('woff');
}

g.viewgroup text {
    /*font-family: 'Lato'; */
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width:1px;
}


.box text.content {
    font-size: 1pt;
}

.boxtext {
    /*font-family: 'Lato'; */
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-align: left;
    font-size: 6pt;
    padding: 3px;
}

.boxtext ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 6pt;
    font-size: 4pt;
    color: black;
    list-style-type:none;

}

.boxtext li {
    font-size: 4pt;
}

svg path.incidentBoundary {
    stroke: blue;
    stroke-width: 2px;
    fill: none;
}