/*
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dojo/resources/dojo.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dijit/themes/dijit.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dijit/themes/tundra/layout/BorderContainer.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dojox/grid/resources/Grid.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dojox/grid/resources/tundraGrid.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dijit/themes/tundra/tundra.css");
*/
/* FIXME: Still hardcoding dojo version! */
/*
@import url("../js/dojo/dojo-1.4/dojo/resources/dojo.css");
@import url("../js/dojo/dojo-1.4/dijit/themes/dijit.css");
@import url("../js/dojo/dojo-1.4/dijit/themes/tundra/layout/BorderContainer.css");
@import url("../js/dojo/dojo-1.4/dojox/grid/resources/Grid.css");
@import url("../js/dojo/dojo-1.4/dojox/grid/resources/tundraGrid.css");
@import url("../js/dojo/dojo-1.4/dijit/themes/tundra/tundra.css");
*/

/* Sets the window size correctly for dojo*/
html, body, #main{	
	width: 100%;	
	height: 100%;
	overflow: hidden;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font: 10pt Arial,Myriad,Tahoma,Verdana,sans-serif;
}


#incidentSummaryGridNode .dojoxGridHeader { display:none; }


/* The following are from RTPMS.css */
BODY, P, LI, UL, OL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 97%;
	color:#000000;
	list-style-position: outside;
}

A:link {
	font-family: Arial, Helvetica, sans-serif;
	color:#663300;
	
}

A:active {
	font-family: Arial, Helvetica, sans-serif;
	color:#ff6600;
	
}

A:visited {
	font-family: Arial, Helvetica, sans-serif;
	color:#996633;
	
}

A.navigation:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

A.navigation:active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

A.navigation:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

p.listpara
{text-indent: 15%}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:140%;
	color:#404040;
	/*
	color:#F1B320;
	color:#133679;
	color:#336699;
		border : solid #CCCC99;
	*/
	width : 100%;
	border-width : 0px 0px 2px 0px; 
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:130%;
	color:#336699;
	/*
	border : solid #cccc99;
	*/
	border-width : 0px 0px 2px 0px;
	width : 100%;
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:110%;
	color:#336699;
	width : 100%; 
}

H4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:92%;
	color:#000000;
      font-weight: bold;
	width : 100%;
}

H5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:80%;
	color:#336699;
	/*
	border : solid #cccc99;
	*/
	/*
	border-width : 0px 0px 2px 0px;
	*/
	width : 100%;
}
.code_no_color {
        color : #000000;
	font-family : "Courier New", "Courier", "monospace";
}

code {  
	color : #336699;
	font-family : "Courier New", "Courier", "monospace";
}

P.indent {
	text-indent: 9%;
}

table.borders {
	border : 1pt solid #BDB76B;
}

TR {
	text-align : left;
	vertical-align : top;
}

TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color:#336699;
	//color:#000000;
	font-weight: bold;
}

TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color:#000000;
}

.smalltext {
	font-size:80%;
}

p.note { 
    display: block; 
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%;
}

p.warning { 
    display: block;
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%;
}

pre { 
    font-family: "Courier New", Courier, mono; 
    font-size: 92%;
    text-indent : 15%;
}

.GUITag {
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%; 
    font-weight: bold; 
    font-style: normal;
}

.PropertyName {
    font-family: "Courier New", Courier, mono; 
    font-style: normal;
}

.GlossaryItem { 
    color : #008080; 
    font-family: Arial, Helvetica, sans-serif;
    font-size : 95%;
}


/* GENERAL TEXT FORMATTING */

#contentstack {
    padding:0em 0em 0em 0em;
}

.summarytable td {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}
.summarytable tr:last-child td {
    border-top-width: 1px;
    border-style: solid;
    border-color: #999999;
    padding-bottom: 0.5em;
}
.summarytable .number {
    text-align: right;
}

div.docpage {
    margin: 1em;
}

.docpage p {
    margin-left: 1em;
}

.emph {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.cleared {
    width: 100%;
    clear: both;
}

.alert {
    color: #ff0000;
    font-weight: bold;
}

strong {
    font-family: slanted;
    font-weight: bold;
}

// Move to TestbedMap.css

#map {
    width:80%;
    height:100%;
}

.popup {
    position: absolute;
    padding: 5px;
    font-size: 8pt;
    z-index: 800;
    background-color: #ffffff;
    border-style: solid;
}

.centered-div {
    margin-left: auto;
    margin-right: auto;
}

table.incidentSummary th, table.incidentSummary td {
    padding-top:0.5em;
    vertical-align:text-top;
    background: #fff; /* ditches grails header stuff */
}
table.incidentSummary th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

sub {
    font-size: smaller;
}




/* TIME SPACE DIAGRAM */
table.tmcpeTsd {
    position:relative;
    top:0;
    left:0;
/*    border-width:3px;
    border-color:#000000; */
    border-collapse:collapse;
    width:100%;
    height:100%;
}

table.tmcpeTsd td {
    visibility:inherit;
    opacity:ihherit;
    background: none;
    border-left: 1px solid rgba(0,0,0,0.15);
    padding-top: 6px;
    padding-bottom: 6px;
/* Causes problems in ffox
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.15);
*/
}

table.tmcpeTsd th {
    visibility:inherit;
    opacity:ihherit;
    background: none;
    padding:0px;
}

.tsdTableNodeContainer th, .tsdTableNodeContainer td {
    overflow:hidden;
}

.tsdTableNodeContainer table.tmcpeTsd tr.timeHeader {
    border-top: 3px;
    border-top-style:solid;
    border-bottom: 0px;
    border-bottom-style: none;
    border-top-color: rgba(0, 0, 200, 0.15);
}

.tsdTableNodeContainer table.tmcpeTsd tr:not(.timeHeader) {
    border-top: 1px;
    border-top-style: solid;
    border-bottom: 0px;
    border-bottom-style: none;
    border-top-color: rgba(0, 0, 200, 0.126094);
}

.tsdTableNodeContainer.fliptime tr.timeHeader {
}

.tsdTableNodeContainer.fliptime .timeHeader th {
    border-top: 0px;
    border-top-style: none;
    border-bottom: 1px;
    border-bottom-style: solid;
}

table.tmcpeTsd.showIncident td.incident {
}

table.tmcpeTsd.showIncident td:not(.incident) {
    opacity: 0.5;
}

/* Default is nothing */
table.tmcpeTsd.hideIncident td.incident {
}

table.tmcpeTsd.showIncident td.borderDownstream {
    border-left-width:4px;
    border-left-style:solid;
    border-left-color:rgba(0,0,255,0.75);
}

table.tmcpeTsd.showIncident td.borderUpstream {
    border-right-width:4px;
    border-right-style:solid;
    border-right-color:rgba(0,0,255,0.75);
}

table.tmcpeTsd.showIncident.fliptime td.borderLater {
    border-top-width:4px;
    border-top-style:solid;
    border-top-color:rgba(0,0,255,0.75);
    padding-top: 1px;
}

table.tmcpeTsd.showIncident.fliptime td.borderEarlier {
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgba(0,0,255,0.75);
    padding-bottom: 1px;
}

table.tmcpeTsd:not(.fliptime).showIncident td.borderLater {
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgba(0,0,255,0.75);
    padding-bottom: 1px;
}

table.tmcpeTsd:not(.fliptime).showIncident td.borderEarlier  {
    border-top-width:4px;
    border-top-style:solid;
    border-top-color:rgba(0,0,255,0.75);
    padding-top: 1px;
}

table.tmcpeTsd td.tsdDataSuspect {
    background-color:gray;
}

table.tmcpeTsd.showEvidence td.tsdEvidence {
    background-image: url(images/stripe.png);
}

.tsdTableNodeContainer {
    padding:0px;
    margin:0px;
    spacing:0px;
    width:100%;
    height:100%;
    position:relative;
    border: solid black 2px;
}

/* A horizontal bar displayed in the TSD view to indicate log entries */
.log_tsd_label {
    position:absolute;
    left:5%;
    background-color: rgba(0,0,0,0.4);
    color:white;
    font-weight:bold;
    padding-top:5px;
    padding-left:10px;
    text-align:left;
    z-index:9;
    visibility: hidden;
}
.log_tsd_bar {
    width:100%;
    position:absolute;
    left:0;
}
.log_tsd_bar:not(.startlog) {
    border-top-color:rgba(255,0,255,0.85);
    border-top-style:solid;
    background-color:rgba(255,255,0,0.85);
    border-bottom-color:rgba(255,0,255,0.75);
    border-bottom-style:solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 4px;
    z-index:10;
    visibility: hidden;
}

.log_tsd_bar.startlog {
    border-width: 2px;
    height: 6px;
    visibility: visible;
    border-color:blue;
    background-color:blue;
    z-index:5;
}

.incloc {
    border-width:4px;
    width:4px;
    border-color:blue;
    background-color:blue;
    height:100%;
    position:absolute;
    top:0;
    z-index:10;
}


#logGridNode .commLog {
    background-color:rgba(255,255,0,0.5);
}
#logGridNode .commLog_selected {
    background-color:rgba(255,255,128,0.5);
}

#logGridNode .activityLog {
    background-color:rgba(255,255,255,0.5);
}
#logGridNode .activityLog_selected {
    background-color:rgba(255,255,128,0.5);
}

/* Keep the tables clean */
.dojoxGridCell {
    white-space: nowrap;
}

.dojoxGrid-scrollbox {
    overflow-x: hidden;
    overflow-y: scroll;
}