/*
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dojo/resources/dojo.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dijit/themes/dijit.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dijit/themes/tundra/layout/BorderContainer.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dojox/grid/resources/Grid.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dojox/grid/resources/tundraGrid.css");
@import url("/tmcpe/js/dojo/dojo-release-1.3.2/dijit/themes/tundra/tundra.css");
*/
/* FIXME: Still hardcoding dojo version! */
/*
@import url("../js/dojo/dojo-1.4/dojo/resources/dojo.css");
@import url("../js/dojo/dojo-1.4/dijit/themes/dijit.css");
@import url("../js/dojo/dojo-1.4/dijit/themes/tundra/layout/BorderContainer.css");
@import url("../js/dojo/dojo-1.4/dojox/grid/resources/Grid.css");
@import url("../js/dojo/dojo-1.4/dojox/grid/resources/tundraGrid.css");
@import url("../js/dojo/dojo-1.4/dijit/themes/tundra/tundra.css");
*/

/* Sets the window size correctly for dojo*/
html, body, #main{	
	width: 100%;	
	height: 100%;
	overflow: hidden;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font: 10pt Arial,Myriad,Tahoma,Verdana,sans-serif;
}


#incidentSummaryGridNode .dojoxGridHeader { display:none; }


/* The following are from RTPMS.css */
BODY, P, LI, UL, OL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 97%;
	color:#000000;
	list-style-position: outside;
}

A:link {
	font-family: Arial, Helvetica, sans-serif;
	color:#663300;
	
}

A:active {
	font-family: Arial, Helvetica, sans-serif;
	color:#ff6600;
	
}

A:visited {
	font-family: Arial, Helvetica, sans-serif;
	color:#996633;
	
}

A.navigation:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

A.navigation:active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

A.navigation:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

p.listpara
{text-indent: 15%}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:140%;
	color:#404040;
	/*
	color:#F1B320;
	color:#133679;
	color:#336699;
		border : solid #CCCC99;
	*/
	width : 100%;
	border-width : 0px 0px 2px 0px; 
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:130%;
	color:#336699;
	/*
	border : solid #cccc99;
	*/
	border-width : 0px 0px 2px 0px;
	width : 100%;
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:110%;
	color:#336699;
	width : 100%; 
}

H4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:92%;
	color:#000000;
      font-weight: bold;
	width : 100%;
}

H5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:80%;
	color:#336699;
	/*
	border : solid #cccc99;
	*/
	/*
	border-width : 0px 0px 2px 0px;
	*/
	width : 100%;
}
.code_no_color {
        color : #000000;
	font-family : "Courier New", "Courier", "monospace";
}

code {  
	color : #336699;
	font-family : "Courier New", "Courier", "monospace";
}

P.indent {
	text-indent: 9%;
}

table.borders {
	border : 1pt solid #BDB76B;
}

TR {
	text-align : left;
	vertical-align : top;
}

TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color:#336699;
	//color:#000000;
	font-weight: bold;
}

TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color:#000000;
}

.smalltext {
	font-size:80%;
}

p.note { 
    display: block; 
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%;
}

p.warning { 
    display: block;
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%;
}

pre { 
    font-family: "Courier New", Courier, mono; 
    font-size: 92%;
    text-indent : 15%;
}

.GUITag {
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%; 
    font-weight: bold; 
    font-style: normal;
}

.PropertyName {
    font-family: "Courier New", Courier, mono; 
    font-style: normal;
}

.GlossaryItem { 
    color : #008080; 
    font-family: Arial, Helvetica, sans-serif;
    font-size : 95%;
}


/* GENERAL TEXT FORMATTING */

#contentstack {
    padding:0em 0em 0em 0em;
}

.summarytable td {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}
.summarytable tr:last-child td {
    border-top-width: 1px;
    border-style: solid;
    border-color: #999999;
    padding-bottom: 0.5em;
}
.summarytable .number {
    text-align: right;
}

div.docpage {
    margin: 1em;
}

.docpage p {
    margin-left: 1em;
}

.emph {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.cleared {
    width: 100%;
    clear: both;
}

.alert {
    color: #ff0000;
    font-weight: bold;
}

strong {
    font-family: slanted;
    font-weight: bold;
}

// Move to TestbedMap.css

.popup {
    position: absolute;
    padding: 5px;
    font-size: 8pt;
    z-index: 800;
    background-color: #ffffff;
    border-style: solid;
}

.centered-div {
    margin-left: auto;
    margin-right: auto;
}

table.incidentSummary th, table.incidentSummary td {
    padding-top:0.5em;
    vertical-align:text-top;
    background: #fff; /* ditches grails header stuff */
}
table.incidentSummary th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

sub {
    font-size: smaller;
}