@import "tmcpe-colors.less";
@import "tmcpe-mixins.less";

@banner-height: 21px;


body {
    background-color: @background;
    color: @color;
    font-size: @font-size;
    padding-top: @banner-height;
    margin:0px;
    min-width: 960px;
}


.header {
    a {
	float: left;
	h1 {
	    color: @color;
	    background-image: url(../images/logo_jem_060.png);
	    background-repeat: no-repeat;
	    margin-top: @banner-height;
	    height: 60px;
	    padding-left: 160px;
	    text-decoration: none;
	    vertical-align: text-bottom;
	    padding-top: 25px;
	    font-size: 30px;
	}
    }

    ul.menu {
	float:right;
	display:inline;

	li {
	    display:inline;
	    border: @menu-border;
	    //    padding: 5px;
	}

    }
}

#leftbox { 
    width:240px;
    position:absolute;
    left: 0px;
    top:101px;
    z-index: 100;  /* Put this on top of #content */
    background-color: @background;
    padding-right:10px;
    height:100%;
    padding-left: 10px;
}

#content {
    background-color: @content-background;
    font-color: @content-color;
    display:inline;
    width:fill;
    float:top;
    position:absolute;
    left:250px;
    top: 101px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    z-index: 50;

}

#settings table th {
    text-align: right;
}
#settings table {
    border: 1px solid white;
}

#account {
    float: right;
}

/* the following two records are used to position the nav div at the bottom of the info element */
#info {
    position:relative;
}

#menu {
    height: @banner-height;
    background-color: @menu-background;
    color: @menu-color;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0px;
    top: 0px;
    z-index: 100;


    ul {
	padding: 0 @banner-height;
	display: inline;

	li {
	    line-height: @banner-height;
	    margin-right: 4px;
	    float: left;
	    list-style-type: none;
	    margin: 0px;
	    padding: 0px;
	    white-space: nowrap;

	    a {
		padding: 4px 5px;
		margin-right: 8px;
		text-decoration: none;
		color: @menu-color;
		&:hover { 
                    background-color: desaturate(@menu-background, 20%); /* was: yellow */ 
                    border-bottom: 3px #f00;
                }
	    }

	}
    }
}

.title {
    margin-top: @banner-height;
}



#account {
    float: right;
}



/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;

	padding: 5px;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
	
	/* styling */
	background-color:@info-background;
	color: @info-color;

	&.error {
	    background-color:@alert-background;
	    color: @alert-color;

	    table {

		td {
		    background-color: darken( @alert-background, 10% );
		    color: saturate( @alert-color, 30% );
		    text-weight: bold;
		    font-size: @font-size * 1.2;
		    padding: 5px;
		    text-shadow: darken( @alert-background, 20% ) 1px 1px;

		    &.label { text-align: right }
		}
	    }
	}

}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../images/jquery-tools/overlay/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* from jquery tools tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:@tooltip-color;	
	z-index:10000;

	/* default is to position on top */
	background:transparent no-repeat url(../images/jquery-tools/tooltip/black_arrow.png);


	&.bottom {
	    background:transparent no-repeat url(../images/jquery-tools/tooltip/black_arrow_bottom.png);
	    padding-top: 35px; /* shift the text down a bit */
	}

	&.right {
	    background:transparent no-repeat url(../images/jquery-tools/tooltip/black_arrow_right.png);
	    padding-left: 35px;
	}
}}