@import "tmcpe-colors.less";

#aggchart {

    .chart {
	background: @chart-background;
	stroke: @chart-stroke;
	fill: steelblue;
	padding: 20px;
	shape-rendering: crispEdges;
	
	
	rect {
	    stroke: @chart-stroke;
	    shape-rendering: crispEdges;
	    fill-opacity: 1.0;
	    
	    &:hover,&.highlight { 
                fill-opacity: 0.6; 
                stroke: lighten( @chart-stroke, 30% );
            }
	}
    }

    text.label {
	stroke-width: 0px;
	text-align: right;
	font: 10px sans-serif;
	fill: @chart-font-color;
    }

    g.legend-item {

        text.label {
            font: 20px;
        }

        rect {
            stroke: lighten( @chart-stroke, 30%);
        }
    }
    
    .rule {
	stroke: @chart-stroke;
	stroke-opacity: 0.3;
	shape-rendering: crispEdges;
    }

    .dummy-chart-start-color {
	fill: @chart-range-start;
    }
    .dummy-chart-end-color {
	fill: @chart-range-end;
    }
}

#basicQueryPane {
    table th {
	font-weight: normal;
	font-size: 10pt;
	text-align: left;
    }
}
