
#ctmllink {
    background: url("../images/ctml.png") no-repeat 50% 50%;
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0pt/0 a;
    text-shadow: none;
    width: 40px;
    height: 20px;
}

.container > .hero-unit {
	background-color: #2F4F7D;
}

#tmcpeapp {
	margin-top:40px;
}

.modal {
	color: #000;
}